text-card{

	text-decoration: none;

}



.corps {

  width: 100%;

  margin: 0 auto;

  display: flex;

  justify-content: center; /* for centering 3 blocks in the center */

  /* justify-content: space-between; for space in between */ 

}



.card {

  /* Add shadows to create the "card" effect */

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

  transition: 0.3s;

  width: 19%;

  margin: 5px;

  text-decoration: none;

 



}



/* On mouse-over, add a deeper shadow */

.card:hover {

  box-shadow: 0 8px 16px 0 #545352;

}



/* Add some padding inside the card container */

.container {

  padding: 2px 16px;

  background-color: #ed6428;

}



.contenu-footer

  {

    width : 1200 px;

    margin : 0 auto;

    display : flex;

    justify-content : center; 

    align-items : flex-start;

    font-size : 20 px;

    

  }

 

.bloc

  {

    width : 25% ;

    margin : 0 30px;

  }

  

.footer-Ahimelogo h3,

.footer-Contacternous h3,

.footer-Nosreseaux h3, 

.footer-Autres h3

  {

     font-size : 25px;

    

  }

  

.liste-Ahimelogo,

.liste-Contacternous,

.liste-Nosreseaux,

.liste-Autres

  {

     list-style-type : flex;

  }



  text-card{

	text-decoration: none;

}

.vertical1{

	width: 20%;

	margin: 0 auto ; 

	float: left;

	height: 600px ;

	background-image: url("images/vertical1.jpg");

	background-repeat: none ;

	opacity: 0.7;

}

.vertical2{

	width: 80% ;

	margin-left: 20%;

	background-color: #f7f7f7;	



}